.reviews {
  width: 100%;
  padding: 150px 0 0 0;
  height: auto;

  @include _m {
    padding: 70px 0 0 0;
  }

  @include _s {
    padding: 70px 0 0 0;
  }

  &__title {
    @include title;
  }

  &__wrap {
    @include flex-row-btw;
    padding: 130px 0 0 0;

    @include _m {
      @include flex-column;
      padding: 130px 0 0 0;
    }

    @include _s {
      @include flex-column;
      padding: 130px 0 0 0;
    }
  }

  &__img-block {
    background-color: $background;
    width: 677px;
    height: 400px;

    @include _m {
      width: 100%;
      height: 291px;
    }

    @include _s {
      width: 100%;
      height: 231px;
    }
  }

  &__img-customer {
    position: relative;
    left: 140px;
    bottom: 119px;

    @include _xl {
      left: 100px;
    }

    @include _l {
      left: 30px;
    }

    @include _m {
      left: 80px;
      width: 299px;
      height: 410px;
    }

    @include _s {
      left: 40px;
      width: 259px;
      height: 350px;
    }
  }

  &__slider-block {
    width: 420px;
    padding-top: 40px;

    @include _xl {
      margin-left: 30px;
    }

    @include _l {
      margin-left: 30px;
    }

    @include _m {
      padding-top: 10px;
      margin: 0 auto;
      height: 350px;
    }

    @include _s {
      padding-top: 10px;
      margin: 0 auto;
      height: 350px;
      width: 320px;
    }
  }

  &__frame {
    width: 420px;
    position: absolute;

    @include _l {
      width: 340px;
      position: absolute;
    }

    @include _s {
      width: 320px;
    }
  }

  &__slides {
    padding: 10px;
    position: relative;
    z-index: 1;
  }

  &__overflow {
    width: 100%;
    overflow: hidden;
  }

  &__txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $ligth-black;
    opacity: 0.5;
    margin-bottom: 40px;
    margin-top: 43px;
  }

  &__author {
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    color: $ligth-black;
  }

  &__decor-block {
    padding-top: 80px;

    @include _xl {
      padding: 0;
      position: relative;
      width: 145px;
      height: 145px;
      top: -50px;
    }

    @include _l {
      padding: 0;
      position: relative;
      width: 145px;
      height: 145px;
      top: -50px;
    }

    @include _m {
      height: 5px;
      padding: 70px 0 0 0;
      width: 155px;
      position: relative;
      top: -800px;
      margin-left: calc(100% - 155px);
    }

    @include _s {
      display: none;
    }
  }

  &__decor-img {
    @include _xl {
      width: 145px;
      height: 145px;
    }

    @include _l {
      width: 145px;
      height: 145px;
    }
  }

  #frame input[type="radio"] {
    display: none;
  }

  #frame label {
    cursor: pointer;
    text-decoration: none;
  }

  #frame1:checked ~ #slides .reviews__inner {
    margin-left: 0;
  }

  #frame2:checked ~ #slides .reviews__inner {
    margin-left: -100%;
  }

  #frame3:checked ~ #slides .reviews__inner {
    margin-left: -200%;
  }

  #slides .reviews__inner {
    transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 400%;
    height: 300px;
  }

  #slides .frame {
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
  }

  #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: 0.9;
  }

  #controls label:hover {
    opacity: 1;
  }

  #frame1:checked ~ #controls label:nth-child(2),
  #frame2:checked ~ #controls label:nth-child(3),
  #frame3:checked ~ #controls label:nth-child(1) {
    display: block;
    background: url("../img/arrow.svg") no-repeat;
    background-position: center center;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    position: absolute;
    left: 320px;
    top: 180px;

    @include _l {
      left: 220px;
      top: 180px;
    }

    @include _s {
      width: 60px;
      height: 60px;
      left: 200px;
      top: 160px;
    }
  }

  #frame1:checked ~ #controls label:nth-last-child(1),
  #frame2:checked ~ #controls label:nth-last-child(3),
  #frame3:checked ~ #controls label:nth-last-child(2) {
    display: block;
    background: url("../img/arrow2.svg") no-repeat;
    background-position: center center;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    width: 80px;
    height: 80px;
    background-color: $blue;
    position: absolute;
    left: 240px;
    top: 180px;

    @include _l {
      left: 140px;
      top: 180px;
    }

    @include _s {
      width: 60px;
      height: 60px;
      left: 140px;
      top: 160px;
    }
  }
  .frame-content svg {
    @include _m {
      width: 35px;
      height: 35px;
    }

    @include _s {
      width: 30px;
      height: 30px;
    }
  }
}
