@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.benefit {
  height: 1478px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 480px) and (max-width: 767px) {
  .benefit {
    height: 1760px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .benefit {
    height: 1740px;
  }
}

.benefit__svg_1 {
  width: 190px;
  height: 199px;
  position: absolute;
  margin-left: 1250px;
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .benefit__svg_1 {
    width: 190px;
    height: 199px;
    position: absolute;
    margin-left: 1009px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .benefit__svg_1 {
    position: absolute;
    right: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .benefit__svg_1 {
    position: absolute;
    right: 0;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .benefit__svg_1 {
    position: absolute;
    right: 0;
    margin-top: 120px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .benefit__svg_1 {
    display: none;
  }
}

.benefit__svg_2 {
  width: 199px;
  height: 199px;
  position: relative;
  margin-top: -129px;
  left: 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .benefit__svg_2 {
    position: absolute;
    margin-top: -129px;
    left: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .benefit__svg_2 {
    position: absolute;
    margin-top: -129px;
    left: 0;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .benefit__svg_2 {
    position: absolute;
    left: 0;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .benefit__svg_2 {
    display: none;
    margin-top: -84px;
  }
}

.benefit__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  margin-top: 42px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .benefit__wrapper {
    width: 990px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .benefit__wrapper {
    width: 720px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .benefit__wrapper {
    width: 420px;
    margin-top: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .benefit__wrapper {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 142px;
  }
}

.benefit__wrapper_column1 {
  height: 1163px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 480px) and (max-width: 767px) {
  .benefit__wrapper_column1 {
    height: auto;
    margin-top: 50px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .benefit__wrapper_column1 {
    height: auto;
    margin-top: 50px;
  }
}

.benefit__wrapper_column2 {
  height: 1230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 480px) and (max-width: 767px) {
  .benefit__wrapper_column2 {
    height: auto;
    margin-top: 50px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .benefit__wrapper_column2 {
    height: auto;
    margin-top: 50px;
  }
}

.benefit__title {
  display: block;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  font-weight: bold;
  width: 385px;
  position: relative;
  left: 245px;
  top: 150px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .benefit__title {
    left: 120px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .benefit__title {
    left: 120px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .benefit__title {
    left: 40px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .benefit__title {
    left: 20px;
    margin-top: -120px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .benefit__title {
    left: 20px;
    margin-top: -130px;
    width: 290px;
    font-size: 28px;
    line-height: 36px;
  }
}

.benefit__box-wpap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 480px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .benefit__box-wpap {
    width: 345px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .benefit__box-wpap {
    width: 420px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .benefit__box-wpap {
    width: 300px;
  }
}

.benefit__box2-img, .benefit__box1-img, .benefit__box3-img {
  width: 153px;
  height: 153px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .benefit__box2-img, .benefit__box1-img, .benefit__box3-img {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .benefit__box2-img, .benefit__box1-img, .benefit__box3-img {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .benefit__box2-img, .benefit__box1-img, .benefit__box3-img {
    display: none;
  }
}

.benefit__box {
  width: 380px;
  height: 525px;
  -webkit-box-shadow: 5px 20px 50px rgba(74, 153, 211, 0.2);
          box-shadow: 5px 20px 50px rgba(74, 153, 211, 0.2);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 48px;
  z-index: 3;
  background-color: #ffffff;
}

@media (min-width: 768px) and (max-width: 991px) {
  .benefit__box {
    width: 330px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .benefit__box {
    width: 420px;
    height: 425px;
    padding: 18px 37px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .benefit__box {
    width: 300px;
    height: 425px;
    padding: 18px 37px;
  }
}

.benefit__box-title {
  font-size: 18px;
  line-height: 19px;
  font-weight: bold;
  margin: 56px 0 16px 0;
}

@media (min-width: 480px) and (max-width: 767px) {
  .benefit__box-title {
    margin: 16px 0 16px 0;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .benefit__box-title {
    margin: 16px 0 16px 0;
  }
}

.benefit__box-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #0f001a;
  opacity: 0.6;
  margin-bottom: 62px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .benefit__box-txt {
    margin-bottom: 42px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .benefit__box-txt {
    margin-bottom: 42px;
  }
}

.benefit__box-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 10px;
  color: #4a99d3;
  text-decoration: none;
}

@media (min-width: 480px) and (max-width: 767px) {
  .benefit__box-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 10px;
    color: #4a99d3;
    text-decoration: none;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .benefit__box-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 10px;
    color: #4a99d3;
    text-decoration: none;
  }
}

.benefit__box svg {
  margin-left: 25px;
}

.benefit__box1-img {
  position: relative;
  margin-top: 200px;
  left: 50px;
  z-index: 1;
}

.benefit__box2-img {
  position: relative;
  left: -75px;
  top: -75px;
  z-index: 1;
}

.benefit__box2 {
  padding: 0;
}

.benefit__box .benefit__icon {
  display: block;
  margin: 0 auto;
}

.benefit__box2 .benefit__icon {
  display: block;
  margin: 0 auto;
  margin-top: -20px;
  width: 224px;
  height: auto;
}

.benefit__box2 .benefit__box-title,
.benefit__box2 .benefit__box-txt,
.benefit__box2 .benefit__box-link {
  padding: 0 40px;
}

.benefit__box2 .benefit__box-title {
  margin-top: 64px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .benefit__box2 .benefit__box-title {
    margin-top: 34px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .benefit__box2 .benefit__box-title {
    margin-top: 34px;
  }
}

.benefit__box3-img {
  position: relative;
  margin-top: 450px;
  left: -75px;
  z-index: 1;
}

@media (min-width: 480px) and (max-width: 767px) {
  .benefit__box3-wpap {
    margin-top: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .benefit__box3-wpap {
    margin-top: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.reviews {
  width: 100%;
  padding: 150px 0 0 0;
  height: auto;
}

@media (min-width: 480px) and (max-width: 767px) {
  .reviews {
    padding: 70px 0 0 0;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .reviews {
    padding: 70px 0 0 0;
  }
}

.reviews__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 27px;
  text-align: center;
}

.reviews__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 130px 0 0 0;
}

@media (min-width: 480px) and (max-width: 767px) {
  .reviews__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 130px 0 0 0;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .reviews__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 130px 0 0 0;
  }
}

.reviews__img-block {
  background-color: rgba(74, 153, 211, 0.1);
  width: 677px;
  height: 400px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .reviews__img-block {
    width: 100%;
    height: 291px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .reviews__img-block {
    width: 100%;
    height: 231px;
  }
}

.reviews__img-customer {
  position: relative;
  left: 140px;
  bottom: 119px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .reviews__img-customer {
    left: 100px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .reviews__img-customer {
    left: 30px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .reviews__img-customer {
    left: 80px;
    width: 299px;
    height: 410px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .reviews__img-customer {
    left: 40px;
    width: 259px;
    height: 350px;
  }
}

.reviews__slider-block {
  width: 420px;
  padding-top: 40px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .reviews__slider-block {
    margin-left: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .reviews__slider-block {
    margin-left: 30px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .reviews__slider-block {
    padding-top: 10px;
    margin: 0 auto;
    height: 350px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .reviews__slider-block {
    padding-top: 10px;
    margin: 0 auto;
    height: 350px;
    width: 320px;
  }
}

.reviews__frame {
  width: 420px;
  position: absolute;
}

@media (min-width: 768px) and (max-width: 991px) {
  .reviews__frame {
    width: 340px;
    position: absolute;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .reviews__frame {
    width: 320px;
  }
}

.reviews__slides {
  padding: 10px;
  position: relative;
  z-index: 1;
}

.reviews__overflow {
  width: 100%;
  overflow: hidden;
}

.reviews__txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0F001A;
  opacity: 0.5;
  margin-bottom: 40px;
  margin-top: 43px;
}

.reviews__author {
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  color: #0F001A;
}

.reviews__decor-block {
  padding-top: 80px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .reviews__decor-block {
    padding: 0;
    position: relative;
    width: 145px;
    height: 145px;
    top: -50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .reviews__decor-block {
    padding: 0;
    position: relative;
    width: 145px;
    height: 145px;
    top: -50px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .reviews__decor-block {
    height: 5px;
    padding: 70px 0 0 0;
    width: 155px;
    position: relative;
    top: -800px;
    margin-left: calc(100% - 155px);
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .reviews__decor-block {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .reviews__decor-img {
    width: 145px;
    height: 145px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .reviews__decor-img {
    width: 145px;
    height: 145px;
  }
}

.reviews #frame input[type="radio"] {
  display: none;
}

.reviews #frame label {
  cursor: pointer;
  text-decoration: none;
}

.reviews #frame1:checked ~ #slides .reviews__inner {
  margin-left: 0;
}

.reviews #frame2:checked ~ #slides .reviews__inner {
  margin-left: -100%;
}

.reviews #frame3:checked ~ #slides .reviews__inner {
  margin-left: -200%;
}

.reviews #slides .reviews__inner {
  -webkit-transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  height: 300px;
}

.reviews #slides .frame {
  width: 25%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.reviews #controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}

.reviews #controls label {
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.9;
}

.reviews #controls label:hover {
  opacity: 1;
}

.reviews #frame1:checked ~ #controls label:nth-child(2),
.reviews #frame2:checked ~ #controls label:nth-child(3),
.reviews #frame3:checked ~ #controls label:nth-child(1) {
  display: block;
  background: url("../img/arrow.svg") no-repeat;
  background-position: center center;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  position: absolute;
  left: 320px;
  top: 180px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .reviews #frame1:checked ~ #controls label:nth-child(2),
  .reviews #frame2:checked ~ #controls label:nth-child(3),
  .reviews #frame3:checked ~ #controls label:nth-child(1) {
    left: 220px;
    top: 180px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .reviews #frame1:checked ~ #controls label:nth-child(2),
  .reviews #frame2:checked ~ #controls label:nth-child(3),
  .reviews #frame3:checked ~ #controls label:nth-child(1) {
    width: 60px;
    height: 60px;
    left: 200px;
    top: 160px;
  }
}

.reviews #frame1:checked ~ #controls label:nth-last-child(1),
.reviews #frame2:checked ~ #controls label:nth-last-child(3),
.reviews #frame3:checked ~ #controls label:nth-last-child(2) {
  display: block;
  background: url("../img/arrow2.svg") no-repeat;
  background-position: center center;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  width: 80px;
  height: 80px;
  background-color: #4a99d3;
  position: absolute;
  left: 240px;
  top: 180px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .reviews #frame1:checked ~ #controls label:nth-last-child(1),
  .reviews #frame2:checked ~ #controls label:nth-last-child(3),
  .reviews #frame3:checked ~ #controls label:nth-last-child(2) {
    left: 140px;
    top: 180px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .reviews #frame1:checked ~ #controls label:nth-last-child(1),
  .reviews #frame2:checked ~ #controls label:nth-last-child(3),
  .reviews #frame3:checked ~ #controls label:nth-last-child(2) {
    width: 60px;
    height: 60px;
    left: 140px;
    top: 160px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .reviews .frame-content svg {
    width: 35px;
    height: 35px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .reviews .frame-content svg {
    width: 30px;
    height: 30px;
  }
}

.process {
  width: 100%;
  height: 476px;
  background-color: rgba(74, 153, 211, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 95px 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .process {
    height: 416px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .process {
    padding: 65px 0;
  }
}

.process__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 27px;
  text-align: center;
  color: #4a99d3;
}

@media (min-width: 320px) and (max-width: 479px) {
  .process {
    padding: 65px 0;
  }
}

.process__wrap {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 91px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .process__wrap {
    width: 900px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .process__wrap {
    width: 700px;
    margin-top: 61px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .process__wrap {
    width: 280px;
    margin-top: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .process__wrap {
    width: 220px;
    margin-top: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.process__block {
  width: 224px;
  text-align: center;
}

@media (min-width: 480px) and (max-width: 767px) {
  .process__block {
    width: 280px;
    height: 80px;
    text-align: left;
    padding: 0 0 30px 50px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .process__block {
    width: 220px;
    height: 80px;
    text-align: left;
    padding: 0 0 30px 40px;
  }
}

.process__block svg {
  margin-bottom: 41px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .process__block svg {
    margin: 0;
    position: relative;
    left: -80px;
    top: 60px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .process__block svg {
    width: 50px;
    height: 50px;
    margin: 0;
    position: relative;
    left: -60px;
    top: 60px;
  }
}

.process__block-title {
  font-size: 18px;
  line-height: 19px;
  font-weight: bold;
  color: #0F001A;
  margin-bottom: 10px;
}

.process__txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #0F001A;
}

.app {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  height: 700px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .app {
    height: 550px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .app {
    margin-top: 50px;
    height: 420px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .app {
    margin-top: 10px;
    height: 700px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .app {
    margin-top: 10px;
    height: 620px;
  }
}

.app__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1106px;
  margin-top: 98px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .app__wrap {
    width: 970px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .app__wrap {
    width: 764px;
    margin: 0 auto;
    margin-top: 58px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .app__wrap {
    width: 420px;
    margin: 0 auto;
    margin-top: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .app__wrap {
    width: 300px;
    margin: 0 auto;
    margin-top: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.app__svg_1, .app__svg_2 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .app__svg_1, .app__svg_2 {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .app__svg_1, .app__svg_2 {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .app__svg_1, .app__svg_2 {
    display: none;
  }
}

.app__svg_2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.app__svg_1 img,
.app__svg_2 img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.app__text {
  margin: 99px 0 0 68px;
  width: 444px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .app__text {
    margin: 79px 0 0 18px;
    width: 390px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .app__text {
    margin: 50px 0 18px 0;
    width: 420px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .app__text {
    margin: 49px 0 18px 0;
    width: 300px;
  }
}

.app__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 15px;
}

.app__txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 59px;
  color: #0F001A;
  text-align: center;
  opacity: 0.5;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .app__txt {
    margin: 99px 0 0 18px;
    width: 444px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .app__txt {
    margin-bottom: 39px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .app__txt {
    margin-bottom: 39px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .app__txt {
    margin-bottom: 39px;
  }
}

.app__btns {
  width: 363px;
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 479px) {
  .app__btns {
    width: 300px;
    margin: 0 auto;
  }
}

.app__btn-link {
  width: 165px;
  height: 52px;
}

@media (min-width: 320px) and (max-width: 479px) {
  .app__btn-link {
    width: 135px;
    height: 42px;
  }
}

.app__btn-link:hover {
  width: 166px;
  height: 53px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 7px 3px #c9d7f2;
          box-shadow: 0 0 7px 3px #c9d7f2;
}

@media (min-width: 320px) and (max-width: 479px) {
  .app__btn-link:hover {
    width: 137px;
    height: 43px;
  }
}

.app__btn-google {
  margin-right: 26px;
}

@media (min-width: 320px) and (max-width: 479px) {
  .app__btn-google {
    margin-right: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .app__img-block {
    width: 450px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .app__img-block {
    width: 350px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .app__img-block {
    width: 400px;
    margin: 0 auto;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .app__img-block {
    width: 250px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .app__img-phones {
    width: 450px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .app__img-phones {
    width: 350px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .app__img-phones {
    width: 400px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .app__img-phones {
    width: 250px;
  }
}

body {
  font-family: 'Titillium Web', sans-serif;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .container {
    width: 1199px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .container {
    width: 100%;
  }
}

.header {
  width: 100%;
  height: 768px;
  background-image: url(../img/Rectangle.png);
  background-size: cover;
  background-size: 100% 808px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.26);
          box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.26);
}

@media (min-width: 768px) and (max-width: 991px) {
  .header {
    height: 588px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .header {
    height: 588px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .header {
    height: 468px;
  }
}

.header__content {
  width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 120px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header__content {
    width: 970px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header__content {
    width: 750px;
    margin-top: 40px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .header__content {
    max-width: 450px;
    margin-top: 40px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .header__content {
    width: 320px;
    margin-top: 20px;
  }
}

.header__content-text {
  width: 616px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .header__content-text {
    width: 400px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .header__content-text {
    max-width: 420px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .header__content-text {
    max-width: 320px;
  }
}

.header__title {
  font-weight: 600;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: 0.02em;
  margin-bottom: 14px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .header__title {
    font-size: 45px;
    line-height: 55px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .header__title {
    font-size: 45px;
    line-height: 55px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .header__title {
    font-size: 32px;
    line-height: 47px;
  }
}

.header__txt {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 60px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .header__txt {
    margin-bottom: 40px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .header__txt {
    margin-bottom: 40px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .header__txt {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header__img {
    width: 350px;
    height: 440px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .header__img {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .header__img {
    display: none;
  }
}

.header__google-img {
  margin-right: 20px;
}

.header__link {
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 479px) {
  .header__link-img {
    width: 130px;
    height: 48px;
  }
}

.header__link-img:hover {
  width: 180px;
  height: 62px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 5px #b4c9f1;
          box-shadow: 0 0 10px 5px #b4c9f1;
}

@media (min-width: 320px) and (max-width: 479px) {
  .header__link-img:hover {
    width: 130px;
    height: 48px;
  }
}

.footer {
  background-color: #4a99d3;
  padding: 55px 0 23px 0;
  color: white;
  --title-margin: 34px;
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer {
    --title-margin: 20px;
    --width: 300px;
    padding: 25px 0 23px 0;
  }
}

.footer__wrap {
  width: 1190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .footer__wrap {
    width: 900px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer__wrap {
    width: 740px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .footer__wrap {
    width: 440px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer__wrap {
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__logo {
  font-weight: 700;
  font-size: 34px;
  line-height: 35px;
  color: white;
}

@media (min-width: 480px) and (max-width: 767px) {
  .footer__logo {
    margin-bottom: 30px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer__logo {
    margin-bottom: 30px;
  }
}

.footer__all-links {
  width: 465px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer__all-links {
    width: var(--width);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__links {
  width: 120px;
}

.footer__others {
  width: 130px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .footer__others {
    margin-bottom: 30px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer__others {
    margin-bottom: 30px;
  }
}

.footer__products {
  width: 80px;
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer__products {
    margin: -110px 0 30px 0;
  }
}

.footer__link {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 18px;
}

.footer__link:hover {
  text-shadow: 1px 2px 2px #e0e0e6;
}

.footer__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
}

.footer__title_block1 {
  width: 87px;
  border-bottom: 2px solid white;
  padding: 4px 0;
  margin-bottom: var(--title-margin);
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer__title_block1 {
    margin-bottom: var(--title-margin);
  }
}

.footer__title_block2 {
  width: 55px;
  border-bottom: 2px solid white;
  padding: 4px 0;
  margin-bottom: var(--title-margin);
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer__title_block2 {
    margin-bottom: var(--title-margin);
  }
}

.footer__title_block3 {
  width: 67px;
  border-bottom: 2px solid white;
  padding: 4px 0;
  margin-bottom: var(--title-margin);
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer__title_block3 {
    margin-bottom: var(--title-margin);
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer__subscribe {
    width: var(--width);
  }
}

.footer__subscribe-txt {
  width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer__subscribe-txt {
    width: var(--width);
  }
}

.footer__input {
  height: 50px;
  width: 258px;
  padding: 0 0 0 10px;
  border-radius: 3px;
  border: none;
  margin: 0 10px 0 0;
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer__input {
    height: 40px;
    width: 190px;
  }
}

.footer__btn {
  height: 50px;
  width: 116px;
  border-radius: 3px;
  border: none;
  background-color: white;
  color: #4a99d3;
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer__btn {
    height: 40px;
    width: 86px;
  }
}

.footer__btn:hover {
  -webkit-box-shadow: 0 0 10px 5px #b4c9f1;
          box-shadow: 0 0 10px 5px #b4c9f1;
}

.footer__bottom {
  margin-top: 28px;
  width: 100%;
  border-top: 2px solid white;
}

.footer__bottom_container {
  width: 1190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .footer__bottom_container {
    width: 900px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer__bottom_container {
    width: 740px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .footer__bottom_container {
    width: 440px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer__bottom_container {
    width: var(--width);
  }
}

.footer__info {
  font-weight: 700;
  font-size: 10.41px;
  line-height: 11px;
  margin-top: 23px;
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer__info {
    font-weight: 700;
    font-size: 10.41px;
    line-height: 11px;
    margin-top: 23px;
  }
}

.footer__media {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer__media {
    margin-top: 20px;
  }
}

.footer__media-link {
  text-decoration: none;
  margin-left: 25px;
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer__media-link {
    text-decoration: none;
    margin-left: 10px;
  }
}

.nav {
  padding-top: 30px;
}

@media (min-width: 320px) and (max-width: 479px) {
  .nav {
    padding-top: 20px;
  }
}

.nav__toggle {
  display: none;
}

@media (min-width: 480px) and (max-width: 767px) {
  .nav__toggle {
    opacity: 0;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .nav__toggle {
    opacity: 0;
  }
}

.nav__nav-box {
  width: 1180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .nav__nav-box {
    width: 970px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav__nav-box {
    width: 750px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .nav__nav-box {
    width: 430px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .nav__nav-box {
    width: 320px;
  }
}

.nav__logo {
  font-weight: 700;
  font-size: 34px;
  line-height: 35px;
  color: #4a99d3;
}

.nav__menu {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 480px) and (max-width: 767px) {
  .nav__menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    width: 170px;
    height: 200px;
    padding: 80px 40px;
    list-style: none;
    text-align: center;
    background-color: #eef3f6;
    opacity: 1;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .nav__menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    width: 170px;
    height: 200px;
    padding: 80px 40px;
    list-style: none;
    text-align: center;
    background-color: #eef3f6;
    opacity: 1;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
}

.nav .nav__item {
  text-decoration: none;
  color: #260041;
  margin-left: 50px;
  font-size: 20px;
}

.nav .active {
  color: #4a99d3;
}

.nav__menu a:hover {
  border-bottom: 2px solid #4a99d3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 480px) and (max-width: 767px) {
  .nav__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: 8px;
    right: 0px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .nav__btn > span,
  .nav__btn > span::before,
  .nav__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #260041;
  }
  .nav__btn > span::before {
    content: "";
    top: -8px;
  }
  .nav__btn > span::after {
    content: "";
    top: 8px;
  }
  .nav__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    margin: 0;
  }
  .nav #nav__toggle:checked ~ .nav__menu > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav #nav__toggle:checked ~ .nav__menu > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .nav #nav__toggle:checked ~ .nav__menu > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .nav #nav__toggle:checked ~ .nav__menu {
    visibility: visible;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .nav__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: 5px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .nav__btn > span,
  .nav__btn > span::before,
  .nav__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #260041;
  }
  .nav__btn > span::before {
    content: "";
    top: -8px;
  }
  .nav__btn > span::after {
    content: "";
    top: 8px;
  }
  .nav__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    margin: 0;
  }
  .nav #nav__toggle:checked ~ .nav__menu > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav #nav__toggle:checked ~ .nav__menu > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .nav #nav__toggle:checked ~ .nav__menu > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .nav #nav__toggle:checked ~ .nav__menu {
    visibility: visible;
  }
}
/*# sourceMappingURL=main.css.map */